body {
    font-size: 16px;
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    margin: 30px;
}

/** HEADER **/
#header-nav {
    background-color: coral;
    border-radius: 0;
    border: 0;
    height: auto;
}
.navbar-brand h1{ /*Numele restaurantului */
    font-family: 'Courier New', Courier, monospace;
    color: rgb(33, 14, 141);
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color:  rgb(33, 14, 141) ;
    text-align: center;
    background-color: coral;
}
#nav-list a:hover{
    background: #E7E7E7;
}
#nav-list a span {
    font-size: 1.8em;
}
#titlepage {
    color: rgb(33, 14, 141) ;
    font-size: xx-large;
    font-style: normal;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
.menu-item-description{
    background-color:coral;
    margin-right: 35px;
    margin-left: 35px;
    font-family: 'Courier New', Courier, monospace;
}
.menu-item-details {
    background-color: coral;
    color: black;
    margin-top: -15px;
   }
h3 {
    color:rgb(33, 14, 141);
    font-size: xx-large;
    font-style: unset;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    } 
